# Secretos y variables de entorno (¡MUY IMPORTANTE!)
.env
*.env
.env.local
.env.*

# Archivos de dependencias y compilación
node_modules/
**/node_modules/
dist/
**/dist/
build/
*.tsbuildinfo

# Bases de datos locales, ejecutables y logs
*.db
*.log
*.deb
.DS_Store
