DATABASE_URL="postgresql://postgres:xRL8ntVIMAxTNE@aws-0-ca-central-1.pooler.supabase.com:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:xRL8ntVIMAxTNE@aws-0-ca-central-1.pooler.supabase.com:5432/postgres"
